
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet"/>

<h3>Mvc Camp Category Table Example</h3>
<br />

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>

    <tr>
        <td>asdas</td>
        <td>ashaah</td>
    </tr>
</table>
<button class="btn btn-success">Create New Category</button>
<button class="btn btn-warning">Category List</button>
<button class="btn btn-danger">Category Descriptions</button>