
@{
    Layout = null;
}

<h3>Mvc Camp Category Table Example</h3>
<br />

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>

    <tr>
        <td>asdas</td>
        <td>ashaah</td>
    </tr>
</table>