@using EntityLayer.Concrete
@model List<Content>

@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("GetAllContent","Content",FormMethod.Post))
{
    <p>
        Ara : @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}


@foreach (var item in Model)
{
    <p>@item.ContentValue</p>
}
